<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Spring Security Example </title>
</head>
<body>
<div th:if="${userExist}">
  User exist!
</div>
<form th:action="@{/signup}" th:object="${user}" method="post">
  <div>
    <label> User Name : <input type="text" name="name"/> </label>
<!--    <label th:text="#{label.user.name}">name</label>-->
<!--    <input th:field="*{name}"/>-->
    <p th:each="error: ${#fields.errors('name')}" th:text="${error}">Validation error</p>
  </div>
  <div><label> Email : <input type="text" name="email"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>